.leave-container{
    margin-top: 100px;
    margin-left: 10px;
}
.side-nav{
    position: fixed;
}
.search{
    margin-top: 200px;
    
}
.cardprofile{
    margin-top: 50px;
}
.card-status{
    margin-top: 30px;
}